target
project/contracts/AMM-contract/out
project/contracts/exchange-contract/out
project/contracts/exchange-contract/tests/artifacts/malicious-implementation/out
project/scripts/swap-exact-input/out
